.header {
  width: 1440px;
  height: 100px;
  background-color: #333333;
}
h1 {
  color: white;
  font-weight: bolder;
  width: 263px;
  height: 47px;
  font-size: 40px;
  margin-left: 588px;
  padding-top: 26px;
}

.square {
  height: 300px;
  width: 300px;
  margin-bottom: 60px;
  list-style: none;
}
.body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 209px;
  margin-right: 209px;
  margin-top: 62px;
  margin-bottom: 61px;
}
.footer {
  width: 1440px;
  height: 63px;
  background-color: #dddddd;
  font-size: 18px;
  text-align: center;
}
